<footer class="site-footer">

  <div class="bottom-border">
    <div class="green section"></div><div class="blue section"></div><div class="purple section"></div><div class="orange section"></div><div class="red section"></div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-6">
          <ul class="contact-list">
            <li><a target="_blank" href="mailto:{{ site.email }}"><i class="fa fa-envelope-o"></i> {{ site.email }}</a></li>
            <li><a target="_blank" href="https://dribbble.com/imamkevin"><i class="fa fa-dribbble"></i> https://dribbble.com/imamkevin</a></li>
            <li><a target="_blank" href="https://github.com/kevin-wynn"><i class="fa fa-github-alt"></i> https://github.com/kevin-wynn</a></li>
          </ul>
        </div>

        <div class="col-md-6">
          <p>This Movie Year is a movie rating and review website built and maintained by <a target="_blank" href="http://kevin-wynn.com">Kevin Wynn</a>. And powered by his love of movies alongside the help of <a target="_blank" href="https://www.themoviedb.org/">The Movie Database</a>.</p>
          <p>Sign up for new reviews and article updates</p>
          <!-- Begin MailChimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
          <style type="text/css">
          	#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
          	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
          	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup">
          <form action="//thismovieyear.us12.list-manage.com/subscribe/post?u=d3acd7f52eec1ef532594d562&amp;id=a2fb60e56e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">

          	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d3acd7f52eec1ef532594d562_a2fb60e56e" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
          </form>
          </div>

          <!--End mc_embed_signup-->
        </div>
      </div>
    </div>
  </div>
  
  <div class="top-movie-posters header-background">
    <div class="overlay"></div>
    {% if page.layout == 'home' %}
      <ul id="interiorBackdrop" class="poster-line interior-poster">
        {% for post in site.categories.movie limit:4 %}
          <li><img src="{{ post.poster }}"/></li>
        {% endfor %}
      </ul>
    {% elsif page.layout == 'all' %}
      <ul id="interiorBackdrop" class="poster-line interior-poster">
        {% for post in site.categories.movie limit:4 %}
          <li><img src="{{ post.poster }}"/></li>
        {% endfor %}
      </ul>
    {% elsif page.layout == 'category' %}
      <ul id="interiorBackdrop" class="poster-line interior-poster">
        {% for post in site.categories.movie limit:4 %}
          <li><img src="{{ post.poster }}"/></li>
        {% endfor %}
      </ul>
    {% else %}
      <ul id="interiorBackdrop" class="poster-line interior-poster">
        {% for post in site.categories.movie limit:1 %}
          <img src="{{ page.backdrop }}"/>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

</footer>
