<header class="site-header">

  <div class="layered-header">
    <div class="wrapper site-title">
      <a class="title-text" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

  </div>

  <div class="top-movie-posters header-background">
    <div class="overlay"></div>
    {% if page.layout == 'home' %}
      <ul id="interiorBackdrop" class="poster-line interior-poster">
        {% for post in site.categories.movie limit:4 %}
          <li><img src="{{ post.poster }}"/></li>
        {% endfor %}
      </ul>
    {% else %}
      <ul id="interiorBackdrop" class="poster-line interior-poster">
        {% for post in site.categories.movie limit:1 %}
          <img src="{{ post.backdrop }}"/>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="bottom-border">
      <div class="green section"></div><div class="blue section"></div><div class="purple section"></div><div class="orange section"></div><div class="red section"></div>
    </div>
  </div>

  <!-- Html Elements for Search -->
  <div id="search-container">
    <input type="text" id="search-input" placeholder="search...">
    <!-- <ul id="results-container"></ul> -->
  </div>

</header>
