<div class="col-md-1 categories sidebar-categories">
  <ul id="categoryList">
    <li class="home"><a href="{{site.url}}">Home</a></li>
    <div class="dropdown">
      <button class="dropdown-toggle" type="button" data-toggle="dropdown">
       Category <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
       <li class="all"><a href="/all-movies">All</a></li>
        {% for category in site.categories %}
          {% unless category contains 'article' %}
            <li><a href="{{ site.url }}/{{ category | first | replace: ' ','-' | downcase }}" name="{{ category | first }}">{{ category | first }}</a></li>
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </ul>

  <!-- TODO: create sorting for years -->
  <!-- <ul class="sort-year">
    {% for post in site.categories.movie %}
      <li>{{ post.year }}</li>
    {% endfor %}
  </ul> -->
</div>
