.tmy-tooltip {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: none;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.visible {
  display: inline-block;
}

.show-more-container {
  text-align: center;

  .show-more {
    color: #fff;
    background: $blue;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: .2s ease all;
    &:hover {
      background: darken($blue, 10%);
    }
  }
}
