#search-container {
  position: absolute;
  right: 25px;
  top: 90px;
  z-index: 9999;

  input {
    width: 250px;
    height: 35px;
    border-radius: 2px;
    border: 0;
    padding: 10px;
  }
}

#results-container {
  .search-poster {
    height: 200px;
    object-fit: cover;
  }
}

.search-results {
  padding-left: 0px;
  padding-right: 0px;
  .poster-container {
    h2 {
      font-weight: 100;
      font-size: 12px;
      margin-top: 0px;
      margin-bottom: 0px;
      color: $red;
      font-weight: 500;
    }
  }
}

.tmy-tooltip {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: none;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.visible {
  display: inline-block;
}

.show-more-container {
  text-align: center;

  .show-more {
    color: #fff;
    background: $blue;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    transition: .2s ease all;
    &:hover {
      background: darken($blue, 10%);
    }
  }
}
