.home {
  h2 {
    font-weight: 100;
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: $red;
    font-weight: 500;
  }
  
  .details {
    height: auto;
    width: 700px;
    display: none;
    position: relative;
    overflow: hidden;
    user-select: none;
    margin-left: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
    .close {
      color: #fff;
      position: absolute;
      top: 0px;
      right: 10px;
      z-index: 9999;
      cursor: pointer;
      font-size: 25px;
      user-select: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
    }
    
    .selected-content {
      position: absolute;
      left: 20px;
      top: 10px;
      z-index: 1000;
    }
    
    .actor-block {
      padding: 0;
      padding-right: 15px;
      margin-top: 10px;
      display: inline-block;
      vertical-align: top;
      
      .actor-image {
        overflow: hidden;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        img {
          margin-top: -15px;
        } 
      }
      
      .actor-name {
        color: #fff;
        text-align: center;
        width: 100px;
        display: block;
        margin: 15px auto;
      }
    }
    
    .see-more {
      position: absolute;
      z-index: 99999;
      color: $blue;
      bottom: 10px;
      left: 20px;
    }
    
    .selected-title {
      font-size: 35px;
      color: #fff;
      width: 90%;
    }
    
    .selected-info {
      display: inline-block;
      
      .release {
        color: $red;
      }
    }
    
    .popular-vote {
      margin-left: 10px;
      display: inline-block;
      .fa {
        color: $red;
      }
    }
    
    .selected-description {
      color: #fff;
      font-weight: 100;
      width: 90%;
    }
    
    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.7);
      z-index: 1000;
    }
    
    .loader {
      font-size: 50px;
      text-align: center;
    }
  }

  .recent-movies {

    .posters {
      margin-top: 15px;

      .active-panel {
        h3 {
          font-size: 16px;
          font-style: italic;
        }

        .score {
          font-size: 55px;

          .one .fa {
            color: $red;
          }

          .two .fa {
            color: $orange;
          }

          .three .fa {
            color: $yellow;
          }

          .four .fa {
            color: $green
          }

          .five .fa {
            color: $blue;
          }
        }
      }
    }

    .poster-container {
      position: relative;
      margin-top: 15px;
      height: 300px;

      .poster {
        padding: 0;
        margin-bottom: 5px;
      }

      .posterItem {
        height: 260px;
      }

      .title {
        font-size: 12px;
        margin-bottom: 0;
      }

      #movieRelease {
        font-size: 12px;
      }

      #movieDescription {
        font-size: 12px;
      }

      .score {
        font-size: 15px;

        .one .fa {
          color: $red;
        }

        .two .fa {
          color: $orange;
        }

        .three .fa {
          color: $yellow;
        }

        .four .fa {
          color: $green
        }

        .five .fa {
          color: $blue;
        }
      }
    }
  }

  .recent-articles {

    .article-container {

      margin-top: 15px;

      h3 {
        margin-bottom: 0px;
      }

      .article-poster {
        height: 175px;
        padding: 0;
        display:flex;
        justify-content:center;
        align-items:center;
        overflow:hidden;
        
        img {
          flex-shrink:0;
          min-width:100%;
          min-height:100%;
        }
        a {
          display: inline-block;
        }
      }

      .article-content {
        padding: 0;
        font-size: 12px;
        margin-top: 10px;
      }

      .score {
        font-size: 15px;

        .one .fa {
          color: $red;
        }

        .two .fa {
          color: $orange;
        }

        .three .fa {
          color: $yellow;
        }

        .four .fa {
          color: $green
        }

        .five .fa {
          color: $blue;
        }
      }
    }
  }
}
