<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="row">
      <div class="container">
        {% include sidebar-navigation.html %}
        <div class="col-md-8 category" id="posterContainer">
          {% include search-container.html %}
          {{content}}
        </div>
        {% include sidebar-comingsoon.html %}
      </div>

      <div class="col-md-8 col-md-offset-1 show-more-container">
        <div class="show-more" id="showMore">
          Show More
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>

{% include footer-resources.html %}
