<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="home">

    {% include header.html %}

  <div class="row">
    <div class="container recent-movies">
      {% include sidebar-navigation.html %}
      <div class="col-md-8 posters ">
        {% include search-container.html %}
        <div class="details" id="detailsContainer"></div>
        <h2>Recent Movies</h2>
        {% for post in site.categories.movie limit:8 %}
        <div class="col-md-3 poster-container">
          <div class="poster">
            <!-- <a class="" href="{{ post.url | prepend: site.baseurl }}">
              <img src="{{ post.poster }}"/>
            </a> -->
            <a class="" id="movieId" href="#{{ post.id }}" data-url="{{ post.url | prepend: site.baseurl }}">
              <img src="{{ post.poster }}"/>
            </a>
          </div>
          <h2 class="title">{{ post.title }}</h2>
          <div>{{ post.date | date: '%B %d, %Y' }}</div>
          <p class="score">
            {% if post.score == 1 %}
              <span class="one"><i class="fa fa-star"></i><i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span>
            {% elsif post.score == 2 %}
              <spany class="two"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span>
            {% elsif post.score == 3 %}
              <span class="three"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></span>
            {% elsif post.score == 4 %}
              <span class="four"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i></span>
            {% elsif post.score == 5 %}
              <span class="five"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
            {% endif %}
          </p>
        </div>
        {% endfor %}
      </div>
      {% include sidebar-comingsoon.html %}
    </div>
  </div>
  <div class="row">
    <div class="container recent-articles">
      <div class="col-md-8 col-md-offset-1 article-container">
        <h2>Recent Articles</h2>
        {% for post in site.categories.article limit:4 %}
          {% if post.written == true %}
            <div class="col-md-6 article-container ">
              <h3>{{ post.title }}</h3>
              <p class="score">
                {% if post.article_score == 1 %}
                  <span class="one"><i class="fa fa-star"></i></span>
                {% elsif post.article_score == 2 %}
                  <spany class="two"><i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                {% elsif post.article_score == 3 %}
                  <span class="three"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                {% elsif post.article_score == 4 %}
                  <span class="four"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                {% elsif post.article_score == 5 %}
                  <span class="five"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
                {% endif %}
              </p>
              <div class="col-md-12 article-poster ">
                <a class="" href="{{ post.url | prepend: site.baseurl }}">
                  <img src="{{ post.article_poster }}"/>
                </a>
              </div>
              <div class="col-md-12  article-content">
                <p>{{ post.content | strip_html | truncatewords: 45 }}</p>
                <a href="{{ post.url }}">Read full article...</a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

    {% include footer.html %}

  </body>

</html>

{% include footer-resources.html %}
